:root {
    font-family: Helvetica;
    font-size: 17px;
}

* {
    font: inherit;
}
.box{
	height:500px;
	width:900px;

	padding:40px;
	margin-left: 15%;
	margin-top: 40px;
}
.box2{
	margin-left:15%;
	padding-left:20px;
}
body{
	background-image: url("meme.jpg");
	background:	  #cc6666;
	font-weight: 
}
h1{

  text-shadow: 2px 2px #ff0000;
}
button{
	background-color: green;
	height: 50px;
	width: 150px;
	border-radius: 20px;
	border:5px solid blue;
	font-weight: bold;
	font-size: 20px;
}
#meme-canvas {
    width: 300px;

}
img{
	float: left;
	width:150px;
	height:150px;
	border-radius: 70px;
}
